body {
    font-family: Arial;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #201e1e;
}

form {
    border: 1px solid #515050;
    padding: 10px;
    background-color: #fdfdfd;
}
